{% extends 'main/default.html.twig' %}
{% block title %}Главная{% endblock %}

{% block body %}
<div class="page-content pt-4 pb-4">
    <div class="container">
        <div class="row">
            <h1>Редактирование галереи</h1>
            <div class="col-lg-6 mt-2">
                {{ form_start(form.name_photo) }}
                <div class="form-control">
                    {{ form_label(form.name_photo) }}
                    {{ form_widget(form.name_photo) }}
                    <small>{{ form_help(form.name_photo) }}</small>
                </div>

                <input type="submit" value="Сохранить">
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
